
.login-main__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        145deg,
        #000066d7 0%,
        #34006bd7 15%,
        #50006bd7 24%,
        #68006bd7 31%,
        #80006ad7 37%,
        #940068d7 42%,
        #a30062d7 47%,
        #b8005fd7 51%,
        #c7005ad7 54%,
        #d60056d7 58%,
        #e4014dd7 61%,
        #ef2a47d7 64%,
        #f83f3fd7 67%,
        #ff5638d7 70%,
        #ff692ed7 73%,
        #ff7b24d7 76%,
        #ff8e14d7 79%,
        #ffa200d7 82%,
        #ffb300d7 86%,
        #ffc800d7 89%,
        #ffd900d7 94%,
        #ffea00d7 100%
);
}

.login-main__container::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url('../../../assets/images/court.png');
    background-size: 21%;
    background-position: center;
    z-index: -10;
    opacity: 0.4;
}

.login-title-logo__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.login-title {
    color: #ffffff;
    font-style: oblique;
}

.login-logo {
    width: 50%;
    height: 110px;
    background-image: url('../../../assets/images/tennis-logo.png');
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
}

/*Message shown based on the user action outcome*/

.login-message__container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #b9834e;
    font-size: 0.85rem;
    font-weight: 700;
    background-color: #1b1b5e3a;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    opacity: 0;
}

.login-message__container p {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.login-message-visible {
    opacity: 1;
}

/*Login form*/

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    padding: 30px;
    
    background: #ffffff1a;
    border-radius: 16px;
    box-shadow: 0 4px 30px #0000001a;
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border: 1px solid #ffffff30;
}

.login-form label {
    color: #ffffff;
    font-weight: 600;
    font-style: oblique;
    z-index: 10;
}

.login-form input {
    height: 30px;
    font-style: oblique;
    color: #61370e;
    border-radius: 5px;
    margin-top: 5px;
}

#LOGIN {
    align-self: center;
    width: 60%;
    height: 30px;
    font-style: oblique;
    font-weight: 900;
    color: #61370e;
    border-radius: 7px;
    border: none;
}

#LOGIN:active {
    transform: scale(0.98);
    box-shadow: 1px 1px 2px #333333;
}

/*Login create account link*/


.login-create-account-link {
    color: #ffffff;
    font-size: 0.75rem;
    font-weight: 600;
    font-style: oblique;
}

.login-create-account-link span {
    font-size: 0.9rem;
    text-decoration: underline;
}