
.dashboard__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100vw;
    min-height: 100vh;
    padding-bottom: 40px;
}

.user-welcome__title {
    color: #ffffff;
    font-size: 0.8rem;
    font-weight: 300;
    margin-top: 15px;
    margin-left: 20px;
    align-self: flex-start;
}

.user-welcome__title span {
    font-weight: 500;
    
}

.pending-lessons-title, .paid-lessons-title {
    align-self: center;
    font-size: 0.9rem;
    color: #ffffff;
    font-size: 0.8rem;
}
    

.paid-lesson-fieldset {
    width: 85%;
    border: solid 1px #68a4d1;
    border-radius: 10px;
    padding-block-start: 0.10em;
    padding-block-end: 0.5em;
}

.paid-lesson-fieldset legend {
    margin: 0 auto;
}

.paid-lesson-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.paid-lesson-fieldset label {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 0.6rem;
    font-weight: 500;
}

.paid-lesson-option input {
    width: 30%;
    margin: 0px
}

.register-lesson-instrucctions {
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 50%;
    color: #b9834e;
    font-size: 0.7rem;
    font-weight: 700;
    background-color: #1b1b5e3a;
    margin-top: 10px;
    padding: 15px;
    border-radius: 10px;
}

.hidden-register-lesson-instrucctions {
    display: none;
}
