
.record__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    min-height: 100vh;
    background-color: #090943aa;
    padding: 10px 0px;
}

.record__container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/court.png');
    background-size: 21%;
    background-position: center;
    background-repeat: repeat;
    z-index: -10;
    opacity: 0.2;
}

.filters__container {
    width: 90vw;
    height: 60px;
    background-color: #00ffff;
}

.month-ref__container {
    height: 25px;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cea76d;
    color: #3a4a4a;
    font-size: 0.8rem;
    font-weight: 900;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
}