

.individual-day__container {
    min-height: 20px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #3a4a4a;
    font-size: 0.8rem;
    font-weight: 700;
    padding: 5px;
    border-radius: 5px;

    background-color: #ffffff61;
    box-shadow: 0 4px 30px #0000001a;
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border-radius: 10px;
    border: 1px solid #ffffff30;
}

.monthday-qty__container {
    display: flex;
    justify-content: space-between;
}

.day-lesson-title {
    width: 90%;
    color: #505080;
    cursor: pointer;
    font-size: 0.75rem;
}

.day-lessons-qty {
    width: 20px;
    height: 20px;
    background-color: #3a3a67;
    color: #ffffff;
    font-size: 0.6rem;
    font-weight: 500;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lesson-list__container {
    display: flex;
    flex-direction: column;
    gap: 2px;
}