/*Main container*/

.register-main__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100vw;
    height: 100vh;
    background-color: #090943aa;
}

.register-main__container::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url('../../../assets/court.png');
    background-size: 21%;
    background-position: center;
    z-index: -10;
    opacity: 0.2;
}

/*Logo and title*/

.register-title-logo__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}

.register-title {
    color: #ffffff;
    font-style: oblique;
}

.register-logo {
    width: 50%;
    height: 110px;
    background-image: url('../../../assets/tennis-logo.png');
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
}

/*Register Form*/

.register-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.register-form label {
    color: #ffffff;
    font-weight: 600;
    font-style: oblique;
}

.register-form input {
    height: 30px;
    font-style: oblique;
    color: #61370e;
    border-radius: 5px;
    margin-top: 5px;
}

#REGISTER, #RESEND {
    align-self: center;
    width: 60%;
    height: 30px;
    font-style: oblique;
    font-weight: 900;
    color: #61370e;
    border-radius: 7px;
    border: none;
}

#REGISTER:active, #RESEND:active {
    transform: scale(0.98);
    box-shadow: 1px 1px 2px #333333;
}

/*Message shown based on the user action outcome*/

.register-massage__container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #b9834e;
    font-size: 0.85rem;
    font-weight: 700;
    background-color: #1b1b5e3a;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    opacity: 0;
}

.register-massage__container p {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.register-message-visible {
    opacity: 1;
}

/*Back to login link and resend validation email option*/

.back-login-resend-email__container {
    display: flex;
    flex-direction: column;
}

.register-back-login-link, .resend-email__title {
    color: #ffffff;
    font-size: 0.7rem;
    font-weight: 600;
    font-style: oblique;
}

.register-back-login-link span, .resend-email__title span {
    font-size: 0.9rem;
    text-decoration: underline;
}

.resend-email__form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    opacity: 0;
}

.resend-visble {
    opacity: 1;
}

.resend-email__form label {
    color: #ffffff;
    font-size: 0.7rem;
    font-weight: 600;
    font-style: oblique;
}

.resend-email__form label > input {
    width: 100px;
    margin-left: 5px;
}

#RESEND {
    align-self: center;
    width: 20%;
    height: 20px;
    font-style: oblique;
    font-weight: 900;
    font-size: 0.7rem;
    color: #61370e;
    border-radius: 7px;
    border: none;
}