

.daily-lesson__container {
    width: 85vw;
    display: flex;
    margin: 5px auto;
    background-color: #dbaf6c;
    border: solid 1px #db9a39;
    border-radius: 5px;
}

.daily-lesson-non-visible {
    display: none;
}

.lesson-info__container {
    width: 97%;
    display: flex;
    justify-content: space-around;
    font-size: 0.8rem;
    position: relative;
    padding: 10px 3px 5px 3px;
}

.daily-details__container {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 12px;
}

.daily-details__container span {
    font-weight: 900;
    color: #46465e;
}

.daily-details__container label {
    display: flex;
    gap: 3px;
    margin-left: 5px;
}

.daily-details__container select, .daily-details__container textarea {
    font-weight: 600;
    margin-block: 1px;
    background-color: #dbaf6c;
    color: #683c10;
    text-align: left;
    margin: 0px;
    box-shadow: none;
}

.editable-daily-details__container textarea, .editable-daily-details__container select   {
    border: solid 1px #d97f43;
    background-color: #e1bfa8;
    border-radius: 5px;
}

.daily-details__container p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    width: 150px;
    margin-right: 7px;
    color: #683c10;
    font-weight: 600;
}

.hyphen-container {
    margin-right: 6px;
}

.lesson-starting-time {
    width: 80px;
}

.lesson-price {
    width: 35px;
}

.lesson-select-ispaid {
    width: 150px;
    height: 26px;
    background-color: #dbaf6c;
    font-weight: 600;
}

.daily-buttons__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.daily-buttons {
    width: 60px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #ddd3d3;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 2px #7c7c7c;
}

.daily-buttons:active {
    transform: scale(0.98);
    box-shadow: 1px 1px 2px #4e4d4d;
}

.daily-edit-button {
    background-color: #7575ed;
}

.daily-delete-button {
    background-color: #b43929;
}

.daily-innactive-button {
    background-color: #656464;
    opacity: 0.6;
}
