

.daily-lesson__container {
    width: 85vw;
    display: flex;
    margin: 5px auto;

    background-color: #ffffff00;
    box-shadow: 0 4px 30px #0000001a;
    backdrop-filter: blur(0.1px);
    -webkit-backdrop-filter: blur(0.1px);
    border-radius: 10px;
    border: solid 1px #cecece;
}

.daily-lesson-non-visible {
    display: none;
}

.lesson-info__container {
    width: 97%;
    display: flex;
    justify-content: space-around;
    font-size: 0.8rem;
    position: relative;
    padding: 10px 3px 5px 3px;
}

.daily-details__container {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-top: 8px;
    margin-bottom: 7px;
    padding-left: 5px;
}

.daily-details__container span {
    font-weight: 900;
    font-size: 0.7rem;
    color: #46465e;
    margin-top: 1px;
}

.daily-details__container label {
    display: flex;
    gap: 3px;
    margin-left: 5px;
    height: 25px;
    font-size: 0.7rem;
}

.daily-details__container select, .daily-details__container textarea, .daily-details__container textarea {
    font-weight: 600;
    background: none;
    color: #46465e;
    text-align: left;
    margin: 0px;
    box-shadow: none;
    font-size: 0.7rem;
}

.players-textarea {
    height: 28px;
}

.editable-daily-details__container textarea, .editable-daily-details__container select   {
    border: solid 1px #aeaeae;
    background-color: #ffffff7f;
    border-radius: 5px;
}

.daily-details__container p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    width: 150px;
    margin-right: 7px;
    color: #46465e;
    font-weight: 600;
}

.hyphen-container {
    margin-right: 5px;
}

.lesson-time {
    width: 40px;
}

.lesson-price {
    width: 35px;
}

.lesson-select-ispaid {
    width: 150px;
    height: 26px;
    background: none;
    font-weight: 200;
    padding-top: 1px;
}

.daily-buttons__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.daily-buttons {
    width: 50px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    color: #ddd3d3;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 2px #7c7c7c;
    cursor: pointer;
}

.daily-buttons:active {
    transform: scale(0.98);
    box-shadow: 1px 1px 2px #4e4d4d;
}

.daily-edit-button {
    background-color: #7575ed;
}

.daily-delete-button {
    background-color: #b43929;
}

.daily-innactive-button {
    background-color: #656464;
    opacity: 0.6;
}
