
.lesson-creator__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.register-lesson__button {
    width: 57%;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #dcdcdcee;
    color: #61370ef0;
    font-size: 0.8rem;
    font-weight: 900;
}

.register-lesson__button:active {
    transform: scale(0.98);
    box-shadow: 1px 1px 2px #595959;
}

.form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    animation: FormDisplay 0.3s 1 linear;
    transform-origin: top;
}

.hidden-form__container {
    display: none;
}

/* ANIMATION HEADER & NAV MENU */

@keyframes FormDisplay {
    0% {
        transform: scaleY(0);
        opacity: 1;
    }

    25% {
        transform: scaleY(0.25);
        opacity: 1;
    }

    50% {
        transform: scaleY(0.5);
        opacity: 1;
    }

    75% {
        transform: scaleY(0.75);
        opacity: 1;
    }

    100% {
        transform: scaleY(1);
        opacity: 1;
    }
}

.label-input__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    width: 45%;
}

.input-title{
    color: #ffffff;
    align-self: flex-start;
    font-size: 0.65rem;
    font-weight: 500;
}

.label-input__container input, .register-select {
    height: 27px;
    padding: 0px 5px;
    border: none;
    box-shadow: 1px 1px 2px #333333;
    border-radius: 5px;
    font-size: 0.9rem;
    color: #61370eea;
    font-weight: 600;
    background-color: #dcdcdcee;
}

.label-input__container input {
    width: 95%;
}

.register-select {
    width: 100%;
}

/* .form__container input::placeholder {
    color: #61370e;
    font-weight: 600;
} */

#SUBMIT {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    box-shadow: 1px 5px 5px #333333c1;
    font-size: 0.7rem;
    font-weight: 900;
    color: #61370eea;
    background-image: url('../../../../assets/images/tennis-ball-submit-button.png');
    background-repeat: no-repeat;
    background-size: 117%;
    background-position: center;
}

#SUBMIT:active {
    transform: scale(0.98);
    box-shadow: 2px 2px 2px #333333;
}