
main {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.card__container {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 90%;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #656464;
    position: relative;
}

.pending {
    background-color: #e2a175;
}

.paid {
    background-color: #7fb778;
}

.lesson-type__icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    background-color: #dabdbd;
    color: #3333bd;
    border-radius: 50%;
    font-size: 0.9rem;
    font-weight: 900;
    top: -5px;
    left: -5px;
}

.time__container, .price-players-club__container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.time__container label, .price-players-club__container label {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    font-style: oblique;
    color: #61370e;
    font-size: 0.8rem;
    font-weight: 600;
    width: 30%;
}

label input, textarea {
    width: 100%;
    word-wrap: break-word;
    text-align: center;
    border: none;
    font-style: oblique;
    color: #61370e;
    font-size: 0.8rem;
    font-weight: 900;
    resize: none;
}

.pending__container label input, .pending__container label textarea {
    background-color: #e2a175;
}

.paid__container label input, .paid__container label textarea {
    background-color: #7fb778;
}

.pending-editable label input, .pending-editable label textarea {
    border: solid 1px #d97f43;
    background-color: #e1bfa8;
    border-radius: 5px;
}

.paid-editable label input, .paid-editable label textarea {
    border: solid 1px #57b04b;
    background-color: #aacfa5;
    border-radius: 5px;
}

.buttons__container {
    display: flex;
    justify-content: space-evenly;
}

.non-visible__container {
    display: none;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 25px;
    margin: 5px;
    color: #ffffff;
    font-weight: 600;
    font-style: oblique;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 2px #7c7c7c;
}

.button:active {
    transform: scale(0.98);
    box-shadow: 1px 1px 2px #4e4d4d;
}

.paid-button {
    background-color: #c0855f;
    font-size: 0.6rem;
}

.edit-button {
    background-color: #bac229;
    font-size: 0.7rem;
}

.delete-button {
    background-color: #b43929;
    font-size: 0.7rem;
}

.pending-button {
    background-color: #609c59;
    font-size: 0.6rem;
}

.innactive-button {
    background-color: #656464;
    opacity: 0.6;
    font-size: 0.5rem;
}

.arrow-display-open {
    position: absolute;
    font-size: 0.7rem;
    font-weight: 600;
    bottom: -9px;
    left: 47%;
}

.arrow-display-close {
    position: absolute;
    font-size: 0.7rem;
    font-weight: 600;
    top: -9px;
    left: 47%;
    transform: rotate(180deg);
}

.arrow-pending {
    color: #e2a175;
}

.arrow-paid {
    color: #7fb778;
}
