/* .app__container {
    min-height: 100vh;
} */

.app__container {
    min-height: 100vh;
    height: 100%;
/* background-image: linear-gradient(145deg, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%); */
background-image: linear-gradient(320deg, #243949f0 20%, #517fa4e9 70%);
}

.app__container::before {
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url('./assets/images/court.png');
    background-size: 21%;
    background-position: center;
    z-index: -10;
    opacity: 0.65;
}
